<header class="contenedor site-header inicio">
  <div class="contenido-header">
    <div class="barra">
    	<a href="index.html">
    		 <img src="../assets/SIGEVA.jpg" width="240" height="45" alt="Logotipo SIGEVA">
    	</a>
      <nav id="navegacion" class="navegacion">
        <a href="crearCS">Crear Centro</a>
        <a href="crearUsuarios">Crear Usuario</a>
        <a href="cnfgCupos">Configurar Cupos</a>
        <a href="indicarDosisVacunas">Nº Vacunas</a>
        <a href="fijarPersonal">Fijar Personal</a>
        <a href="solicitarCita">Solicitar Cita</a>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>


