<header class="contenedor site-header inicio">
  <div class="contenido-header">
    <div class="barra">
    	<a class="navbar-logo img" href="index.html">
    		 <img src="../assets/SIGEVA.svg" alt="Logotipo SIGEVA">
    	</a>
      <nav id="navegacion" class="navegacion">
        <a href="home">Home</a>
        <a href="crearCS">Centros de Salud</a>
        <a href="crearUsuarios">Usuarios</a>
        <a href="cnfgCupos">Configuracion Cupos</a>
        <a href="indicarDosisVacunas">Indicar Dosis Vacunas</a>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>


