<form class="form">
  <h2>CONTACT US</h2>
  <p type="text"><input [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" type="text" placeholder="Write your name here.." >
  <p type="text"><input  type="text" placeholder="Let us know how to contact you back.." [(ngModel)]="nombreCentro" [ngModelOptions]="{standalone: true}"></p>
  <p type="Number"><input  type="number" placeholder="What would you like to tell us.." [(ngModel)]="numVacunasDisponibles" [ngModelOptions]="{standalone: true}"></p>
  <button (click)="enviarDatosBack()">Send Message</button>
  <div>
    <span class="fa fa-phone"></span>001 1023 567
    <span class="fa fa-envelope-o"></span> contact@company.com
  </div>
</form>

