<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<div class="register">
	<div class="register-screeen">
		<div class="register-form">
			<form #modificarDosisVacunas="ngForm" (ngSubmit)="putBackData()"> 
				<H1>Modificar dosis vacunas</H1>
				
				<div class="selectCenter">
						<p>Elige el hospital: </p>
						<select name="menuCentro" id="menuCentro" 
							[(ngModel)]='centroSeleccionado'  #centro = "ngModel" (click)="numVacunas()">
							<option *ngFor="let centro of cs ">{{centro.nombreCentro}}</option>
						</select>
				</div>
				<div class="numberVaccines">
					<p>Número de vacunas actual:</p>
					<b>{{nVacunasActual}}</b>
				</div>
				
				<div class="numberNewVaccines" >
					<p>Número de vacunas que se van a añadir:</p>
					<input type = 'number' name= 'masVacunas' #newVacunas="ngModel" placeholder='número de vacunas' [(ngModel)]='vacunasAanadir' required>
				</div>
				<br>
				<br>
				<button class="btnConfirmar" type="submit">Confirmar</button>
		</form>
	</div>
</div>

