@import url(https://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 20px;
  color:black;
}

.contenedor-dividido{
  width: 90%;
  height: 100%;
  display: inline-block;
}

.listado-form{
  background-color: black;
  float:left;
  width: auto;
  min-width: 1100px;
  height: auto;

}

.vacunas{
  background-color: red;
  float: right ;
  width: 300px;
  height: 300px;
}

.listado{
  background-color: #3498DB;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  width: 90%;
  max-height: 600px;
  height: 100%;
  min-height: 80%;
  margin: 2px auto;
  padding: 20px;
}

.contenedor-paciente{
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 5px auto;
  border-radius: 5px;
  padding: 4px;
}

.btn-vacunar {
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 200px;
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;

  position:relative;
  top:10px;
  margin: 0 auto;

}

.imagen-paciente{
  position:relative;
  top:10px;
}

.nombre-paciente{
  position:relative;
  top:10px;
  margin: 0 auto;
}

.dni-paciente {
  position:relative;
  top:10px;
  margin: 0 auto;
}

.fecha-nacimiento {
  position:relative;
  top:10px;
  margin: 0 auto;
}

.separation {
  height: 30%;
  width: 100%;
  background-color: #3498DB;
}

p {
  margin: 0 auto;
}


.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}
