<div class = contenedor-dividido>

  <div class="listado-form">
    <div class="filtro">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button (click)="this.mostrar()"></button>
    </div>

    <!-- Inicio de la lista de pacientes -->
      <div class="listado">
        <div class="contenedor-items">
          <div class="contenedor-paciente" *ngFor="let cita of this.citas">
            <div class="control-group">
              <img class="imagen-paciente" alt="imagen paciente" width="100" height="100" src="{{cita.paciente.imagen}}">
              <h3 class="nombre-paciente">{{cita.paciente.nombre}}</h3>
              <h4 class="dni-paciente">DNI: {{cita.paciente.dni}}</h4>
              <h4 class="fecha-nacimiento">Fecha nacimiento: {{cita.paciente.fechaNacimiento | date:'mediumDate'}}</h4>
              <button class="btn-vacunar" (click)="this.vacunar(cita.paciente)" >Seleccionar</button>
            </div>
        </div>
      </div>
      </div>

  </div>

  <!-- Division de la pantalla -->

  <div class="vacunas">
    <div class="separation"></div>
      <div class="vacuna-form">
        <div class="vacuna-group">
          <div class="contenedor-paciente">
          <div class="control-group">
            <img class="imagen-paciente" alt="imagen paciente" width="100" height="100" src="{{this.pacienteSeleccionado.imagen}}">
            <h3 class="nombre-paciente">{{this.pacienteSeleccionado.nombre}}</h3>
            <h4 class="dni-paciente">DNI: {{this.pacienteSeleccionado.dni}}</h4>
            <h4 class="fecha-nacimiento">Fecha nacimiento: {{this.pacienteSeleccionado.fechaNacimiento | date:'mediumDate'}}</h4>
            <button class="btn-vacunar" (click)="this.vacunar(this.pacienteSeleccionado)" >Seleccionar</button>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
