<div class="cita-screen">
  <div class="cita-form">
    <h1 class="titulo">Cita 1</h1>
    <hr>
    <table aria-describedby="Información del producto">
      <tr>
        <th scope="row">
          <p class="fontawesome-calendar"></p>
        </th>
        <td>
          <p>{{this.cita1.fechaYHoraInicio | date : 'medium'}}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p class="fontawesome-hospital"></p>
        </th>
        <td>
          <p>{{this.cita1.centroSalud.nombreCentro}}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p class="fontawesome-map-marker"></p>
        </th>
        <td>
          <p>{{this.cita1.centroSalud.direccion}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
