@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 20px;
}

.usuario{
  height: 350px;
  width: 300px;
}
