@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 20px;
}

.usuario{
  height: 370px;
  width: 300px;
}

.btn {
  max-width: 150px;
  margin: 10px;
}

.btn-cancel {
  max-width: 150px;
  margin: 10px;
}
