  <div class="register2">
      <div class="control-group2">
     <a href="crearUsuarios" class= "btnBlanco">{{mensajeBoton1}}</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group2">
       <a href="crearCS" class= "btnBlanco">{{mensajeBoton2}}</a>
      </div>
  </div>
 
    <div class="register2">
      <div class="control-group2">
      <a href="cnfgCupos" class= "btnBlanco">{{mensajeBoton3}}</a>
      </div>
  </div>
   <h1>SIGEVA</h1>
    <div class="register2">
      <div class="control-group2">
       <a href="fijarPersonal" class= "btnBlanco">{{mensajeBoton4}}</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group2">
      <a href="fijarPersonal"  class= "btnBlanco">{{mensajeBoton5}}</a>
      </div>
  </div>
  <div class="register2">
    <div class="control-group2">
      <a href="solicitarCita"  class= "btnBlanco">{{mensajeBoton6}}</a>
    </div>
  </div>
  

