  <div class="register2">
      <div class="control-group">
     <a href="crearUsuarios" class= "btnBlanco">Crear Usuarios</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group">
       <a href="crearCS" class= "btnBlanco">Crear Centro de Salud</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group">
      <a href="cnfgCupos" class= "btnBlanco">Establecer Cupos</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group">
       <a href="fijarPersonal" class= "btnBlanco">Ver Usuarios</a>
      </div>
  </div>
    <div class="register2">
      <div class="control-group">
      <a href="fijarPersonal" class= "btnBlanco">Asignar Sanitarios</a>
      </div>
  </div>
  <h1>SIGEVA</h1>

  