<app-barra-navegacion></app-barra-navegacion>

<div class="contenedor">
  <H1>BIENVENIDO {{usuario.nombre}}!!</H1>
  <div class="register">
    <div class="register-screen">
      <div class="register-form">
        <div class="control-group">
          <img alt="imagen usuario" width="150" height="150" src={{usuario.imagen}}>
        </div>

        <div class="alineación-izquierda control-group">
          <mat-icon>person</mat-icon>
          <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
        </div>

        <div class="alineación-izquierda control-group">
          <mat-icon>verified_user</mat-icon>
          <p>{{usuario.rol.nombre}}</p>
        </div>

        <button class="btn space" (click)=openDialogCerrarSesion()>CERRAR SESIÓN</button>
      </div>
    </div>
  </div>
</div>


<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="crearUsuarios" class="btnBlanco">{{mensajeBoton1}}</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="crearCS" class="btnBlanco">{{mensajeBoton2}}</a>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="cnfgCupos" class="btnBlanco">{{mensajeBoton3}}</a>-->
<!--  </div>-->
<!--</div>-->
<!--<h1>SIGEVA</h1>-->
<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="fijarPersonal" class="btnBlanco">{{mensajeBoton4}}</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="fijarPersonal" class="btnBlanco">{{mensajeBoton5}}</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="register2">-->
<!--  <div class="control-group2">-->
<!--    <a href="solicitarCita" class="btnBlanco">{{mensajeBoton6}}</a>-->
<!--  </div>-->
<!--</div>-->


