<header class="contenedor site-header inicio">
  <div class="contenido-header">
    <div class="barra">
      <a href="index.html">
        <img src="../assets/SIGEVA.jpg" width="240" height="45" alt="Logotipo SIGEVA">
      </a>
      <nav id="navegacion" class="navegacion">

        <button mat-button [matMenuTriggerFor]="menuUsuarios" class="btn-nav">Usuarios</button>
        <mat-menu #menuUsuarios="matMenu">
          <button mat-menu-item *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/crearUsuarios">Crear Usuario</button>
          <button mat-menu-item *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/usuariosSistema">Ver todos los usuarios</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menuCentros" class="btn-nav">Centros</button>
        <mat-menu #menuCentros="matMenu">
          <button mat-menu-item *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/crearCS">Crear Centro</button>
          <button mat-menu-item *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/centrosSistema">Ver todos los centros</button>
          <button mat-menu-item *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/indicarDosisVacunas">Añadir vacunas a un centro</button>
        </mat-menu>

        <button mat-button *ngIf="isLogged && (rol === 'Administrador' || 'SuperAdmin')" routerLink="/cnfgCupos" class="btn-nav">Configurar Cupos</button>

        <button mat-button *ngIf="isLogged && (rol === 'Paciente' || 'SuperAdmin')" routerLink="/solicitarCita" class="btn-nav">Solicitar Cita</button>

        <button mat-button routerLink="/login" class="btn-nav">Log in</button>

      </nav>
    </div>
  </div>
</header>
